@use "./components/Menu";

.buttonBranding, .buttonWeb, .buttonAudio, .buttonSocial, .buttonImpresion {
    width: 100%;
    height: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    background: none;
    border-color: #ffee01;
    color: #000;
    margin-bottom: 1rem;
    
    @media screen and (min-width: 714px) {
      width: 100px;
    }
}

.accordion {
    overflow: hidden;
  }

.branding {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  transform: translate(0, 20px);
  margin: auto;
  border: 1px solid;

  & picture {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }

  & p,h2 {
    text-align: start;
  }

  
}

.buttonWeb {
    transform: translate(0, 20px);
}


.web {
  display: flex;
  flex-direction: column;
  transform: translate(0, 20px);

  & picture {
    display: flex;
    width: 100%;
    overflow: hidden;
    border: 1px solid #000;
  }
}

.buttonAudio {
    transform: translate(0, 40px);
}

.audio {
    display: flex;
    flex-direction: column;
    transform: translate(0, 20px);
  
    & picture {
      display: flex;
      width: 100%;
      overflow: hidden;
      border: 1px solid #000;
    }
  }

.buttonSocial {
    transform: translate(0, 60px);
}

.social {
    display: flex;
    flex-direction: column;
    transform: translate(0, 20px);
  
    & picture {
      display: flex;
      width: 100%;
      overflow: hidden;
      border: 1px solid #000;
    }
  }

.buttonImpresion {
    transform: translate(0, 80px);
}

.impresion {
    display: flex;
    flex-direction: column;
    transform: translate(0, 20px);
  
    & picture {
      display: flex;
      width: 100%;
      overflow: hidden;
      border: 1px solid #000;
    }
  }