.header {
  display: flex;
  justify-content: space-between; /* Espacio entre el logo y el ícono */
  align-items: center;
//   padding: 20px;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.logo {
  flex: 1; /* La imagen toma el espacio necesario a la izquierda */
}

.icon {
  cursor: pointer;
  z-index: 1100;
}

.nav {
  position: fixed;
  top: -100%; /* Inicialmente fuera de la pantalla */
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupa toda la pantalla cuando se muestra */
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s ease;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      margin: 20px 0;

      a {
        color: white;
        font-size: 24px;
        text-decoration: none;

        &:hover {
          color: #0070f3; /* Cambia el color cuando el cursor pasa sobre el enlace */
        }
      }
    }
  }
}
