.header {
  display: flex;
  justify-content: space-between; /* Espacio entre el logo y el ícono */
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.logo {
  position: relative;
  z-index: 10000;
  flex: 1;
}

.icon {
  cursor: pointer;
  z-index: 1100;
  transform: translate(0, -15px);
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: #333;
  box-shadow: inset 0 -55px 55px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s ease;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      margin: 20px 0;

      a {
        color: white;
        font-size: 24px;
        text-decoration: none;

        &:hover {
          color: #0070f3; /* Cambia el color cuando el cursor pasa sobre el enlace */
        }
      }
    }
  }
}
